---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.list
    body:
      encoding: UTF-8
      string: token=<TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"channels":[{"id":"C03RJGFQS","name":"dustbox","is_channel":true,"created":1425043528,"creator":"U0399SL90","is_archived":false,"is_general":false,"is_member":false,"members":["U0399SL90"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"num_members":1},{"id":"C044H6VHF","name":"gem_testroom","is_channel":true,"created":1427155388,"creator":"U03LM2UM7","is_archived":false,"is_general":false,"is_member":true,"members":["U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"num_members":1},{"id":"C0399SL96","name":"general","is_channel":true,"created":1420032633,"creator":"U0399SL90","is_archived":false,"is_general":true,"is_member":true,"members":["U0399SL90","U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for team-wide communication and announcements. All team members
        are in this channel.","creator":"","last_set":0},"num_members":2},{"id":"C0399SL98","name":"random","is_channel":true,"created":1420032633,"creator":"U0399SL90","is_archived":false,"is_general":false,"is_member":true,"members":["U0399SL90","U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"A
        place for non-work banter, links, articles of interest, humor or anything
        else which you''d like concentrated in some place other than work-related
        channels.","creator":"","last_set":0},"num_members":2}]}'
  recorded_at: Tue, 05 May 2015 23:44:31 GMT
recorded_with: VCR 2.9.3
