---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: token=<TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/aki017.slack.com\/","team":"Nyan","user":"testuser","team_id":"T0399SL8W","user_id":"U03LM2UM7"}'
  recorded_at: Tue, 05 May 2015 23:44:46 GMT
recorded_with: VCR 2.9.3
