---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.join
    body:
      encoding: UTF-8
      string: name=gem_testroom&token=<TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - post
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"already_in_channel":true,"channel":{"id":"C044H6VHF","name":"gem_testroom","is_channel":true,"created":1427155388,"creator":"U03LM2UM7","is_archived":false,"is_general":false,"is_member":true,"members":["U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0}}}'
  recorded_at: Tue, 05 May 2015 23:44:39 GMT
recorded_with: VCR 2.9.3
