---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.create
    body:
      encoding: UTF-8
      string: name=gem_testroom&token=<TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C04NL1FKT","name":"gem_testroom","is_channel":true,"created":1430872022,"creator":"U03LM2UM7","is_archived":false,"is_general":false,"is_member":true,"last_read":"0000000000.000000","latest":null,"unread_count":0,"unread_count_display":0,"members":["U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0}}}'
  recorded_at: Wed, 06 May 2015 00:27:02 GMT
recorded_with: VCR 2.9.3
