---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.invite
    body:
      encoding: UTF-8
      string: channel=C04MY3KCY&token=<TOKEN>&user=U0399SL90
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - post
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C04MY3KCY","name":"gem_testroom","is_channel":true,"created":1430871124,"creator":"U0399SL90","is_archived":false,"is_general":false,"is_member":true,"last_read":"1430871759.000005","latest":{"user":"U0399SL90","type":"message","subtype":"channel_leave","text":"<@U0399SL90|aki017>
        has left the channel","ts":"1430871759.000005"},"unread_count":0,"unread_count_display":0,"members":["U0399SL90","U03LM2UM7"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0}}}'
  recorded_at: Wed, 06 May 2015 00:22:46 GMT
recorded_with: VCR 2.9.3
